# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json

# testing
/coverage

# production
/build
/front-build
/server-build
/certs

# misc
.DS_Store
.env
.env.development
.env.test
.env.production
.gitignore

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/