:root {
  /*---------------------------*/
  /*-------- FlexBox ----------*/
  /*---------------------------*/
  --flexGoneIn960: flex;
  --flexShowIn960: none;
  --flexGoneIn800: flex;
  --flexShowIn800: none;
  --flexGoneIn470: flex;
  --flexShowIn470: none;
  --rowToColIn960: row;
  --rowToColIn800: row;
  --rowToColIn470: row;
  --colToRowIn470: column;
  --flexStartToCenterIn960: flex-start;
  --centerToSpaceBetweenIn470: center;
  
  /*---------------------------*/
  /*------ Radio Button -------*/
  /*---------------------------*/
  --rbHeight: 30px;

  /*---------------------------*/
  /*-------- CheckBox ---------*/
  /*---------------------------*/
  --chkbxHeight: 35px;
  --chkbxItemWidth: auto;
  --chkbxRelWidth: auto;

  /*---------------------------*/
  /*---- Heights & Widths -----*/
  /*---------------------------*/
  --drawerWidth: 350px;
  --headerHeight: 80px; /*6vh*/
  --footerHeight: 150px;
  --autoTo100In470: auto;
  --a100ToAutoIn470: 100%;

  /*---------------------------*/
  /*------- Font Sizes --------*/
  /*---------------------------*/
  --fs10: 60px;
  --fs9: 50px;
  --fs8: 40px;
  --fs7: 36px;
  --fs6: 32px;
  --fs5: 28px;
  --fs4: 24px;
  --fs3: 22px;
  --fs2: 18px;
  --fs1: 16px;
  --fs0: 14px;

  /*-----------------------------------*/
  /*----------- All Modals  -----------*/
  /*-----------------------------------*/
  --modalMaxWidth: 500px;
  --modalPadding: 20px 30px;

  /*--------------------------------*/
  /*-------- Page Gallery ----------*/
  /*--------------------------------*/
  --galleryWidth: 1200px; /*  (cardWidth + galleryItemMargin)*4columns = 774  */
  --cardWidth: 290px;
  --cardHeight: 250px;
  --galleryItemMargin: 5px;
  --galleryWrapperMargin: 15px;
  /*
        Step 1: Decide on wanted galleryWidth (say like 1200px)
        Step 2: divide by number of columns wanted (say like 4)
        Step 3: Based on the result, decide on a margin
        Step 4: The remain will be the cardWidth
        Step 5: Decide on a cardHeight based on cardWidth*/

  /*-------------------------------------*/
  /*-------- Page MessagesWith ----------*/
  /*-------------------------------------*/
  --messBlockMinHeight: 600px;
  --messBlockMaxHeight: 800px;
  --bubbleMaxWidth: 450px;

  --fsTags: var(--fs3);
  --singleTagWidth: 200px;
}
/*}*/

/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*-------------------------------------------------  960 Screen  -----------------------------------------------------*/
/*-------------------------------------------------  960 Screen  -----------------------------------------------------*/
/*-------------------------------------------------  960 Screen  -----------------------------------------------------*/
/*-------------------------------------------------  960 Screen  -----------------------------------------------------*/
/*-------------------------------------------------  960 Screen  -----------------------------------------------------*/
/*-------------------------------------------------  960 Screen  -----------------------------------------------------*/
/*-------------------------------------------------  960 Screen  -----------------------------------------------------*/

@media only screen and (max-width: 960px) {
  :root {
    /*---------------------------*/
    /*-------- FlexBox ----------*/
    /*---------------------------*/
    --flexGoneIn960: none;
    --flexShowIn960: flex;
    --rowToColIn960: column;
    --flexStartToCenterIn960: center;
  }
}

/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*----------------------------------------------  Ramat Gan Screen  --------------------------------------------------*/
/*----------------------------------------------  Ramat Gan Screen  --------------------------------------------------*/
/*----------------------------------------------  Ramat Gan Screen  --------------------------------------------------*/
/*----------------------------------------------  Ramat Gan Screen  --------------------------------------------------*/
/*----------------------------------------------  Ramat Gan Screen  --------------------------------------------------*/
/*----------------------------------------------  Ramat Gan Screen  --------------------------------------------------*/

@media only screen and (max-width: 1920px) {
  :root {
    /*-----------------------------------------*/
    /*-------- Page 4: Messages With ----------*/
    /*-----------------------------------------*/
    --messBlockMinHeight: 400px;
    --messBlockMaxHeight: 500px;
  }
}

/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*------------------------------------------------  1300 Screen  -----------------------------------------------------*/
/*------------------------------------------------  1300 Screen  -----------------------------------------------------*/
/*------------------------------------------------  1300 Screen  -----------------------------------------------------*/
/*------------------------------------------------  1300 Screen  -----------------------------------------------------*/
/*------------------------------------------------  1300 Screen  -----------------------------------------------------*/
/*------------------------------------------------  1300 Screen  -----------------------------------------------------*/
/*------------------------------------------------  1300 Screen  -----------------------------------------------------*/
/*------------------------------------------------  1300 Screen  -----------------------------------------------------*/
/*------------------------------------------------  1300 Screen  -----------------------------------------------------*/
/*------------------------------------------------  1300 Screen  -----------------------------------------------------*/
/*------------------------------------------------  1300 Screen  -----------------------------------------------------*/

@media only screen and (max-width: 1300px) {
  :root {
    /*--------------------------------*/
    /*-------- Page Gallery ----------*/
    /*--------------------------------*/
    --galleryWidth: 774px; /*  (250 + 8)*3columns = 774  */
    --cardWidth: 248px;
    --cardHeight: 220px;
    --galleryWrapperMargin: 15px;
  }
}

/*44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/
/*44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/
/*44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/
/*44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/
/*44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/
/*44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/
/*44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/
/*44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/
/*44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/
/*44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/
/*44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/
/*-----------------------------------------------  Tablet Screen  ----------------------------------------------------*/
/*-----------------------------------------------  Tablet Screen  ----------------------------------------------------*/
/*-----------------------------------------------  Tablet Screen  ----------------------------------------------------*/
/*-----------------------------------------------  Tablet Screen  ----------------------------------------------------*/
/*-----------------------------------------------  Tablet Screen  ----------------------------------------------------*/

@media only screen and (max-width: 800px) {
  :root {
    /*---------------------------*/
    /*-------- FlexBox ----------*/
    /*---------------------------*/
    --flexGoneIn800: none;
    --flexShowIn800: flex;
    --rowToColIn800: column;

    /*--------------------------------*/
    /*-------- Page Gallery ----------*/
    /*--------------------------------*/
    --galleryWidth: 100%; /*  (250 + 8)*3columns = 774  */
    --cardWidth: 32%; /*calc(var(--galleryWidth)/4);*/
    --cardHeight: 220px;
    --galleryItemMargin: 0.5%;
    --galleryWrapperMargin: 15px;
  }
}

/*55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*-----------------------------------------------  Mobile Screen  ----------------------------------------------------*/
/*-----------------------------------------------  Mobile Screen  ----------------------------------------------------*/
/*-----------------------------------------------  Mobile Screen  ----------------------------------------------------*/
/*-----------------------------------------------  Mobile Screen  ----------------------------------------------------*/
/*-----------------------------------------------  Mobile Screen  ----------------------------------------------------*/

@media only screen and (max-width: 470px) {
  :root {
    /*---------------------------*/
    /*-------- FlexBox ----------*/
    /*---------------------------*/
    --centerToSpaceBetweenIn470: space-between;
    --flexGoneIn470: none;
    --flexShowIn470: flex;
    --colToRowIn470: row;
    --rowToColIn470: column;

    /*---------------------------*/
    /*---- Heights & Widths -----*/
    /*---------------------------*/
    --a100ToAutoIn470: auto;

    /*---------------------------*/
    /*------ Radio Button -------*/
    /*---------------------------*/
    --rbHeight: 40px;
    --rbItemWidth: 140px;

    /*---------------------------*/
    /*-------- CheckBox ---------*/
    /*---------------------------*/
    --chkbxItemWidth: 140px;
    --chkbxRelWidth: 140px;

    /*-----------------------------------*/
    /*----------- All Modals  -----------*/
    /*-----------------------------------*/
    --modalPadding: 20px 5px;
    --drawerWidth: 100%;

    /*-------------------------------*/
    /*-------- Page Gallery ---------*/
    /*-------------------------------*/
    --galleryWidth: 100%; /*  (x + 3)*2columns = 358  */
    --cardWidth: 48%; /*calc(var(--galleryWidth)/4);*/
    --cardHeight: 150px;
    --galleryWrapperMargin: 20px; /*it's a top margin*/

    /*-------------------------------------*/
    /*-------- Page MessagesWith ----------*/
    /*-------------------------------------*/
    --bubbleMaxWidth: 85%;

    /*----------------------------------*/
    /*-------- Page Profile ------------*/
    /*----------------------------------*/
    --autoTo100In470: 100%;

    --fsTags: var(--fs1);
    --singleTagWidth: 150px;
  }
}
